@import 'tailwindcss';

@layer base {
    html {
        @apply bg-black text-white;
    }

    button {
        @apply cursor-pointer;
    }
}

@layer components {
    .btn-primary {
        @apply bg-teal-400 hover:bg-teal-500 active:bg-teal-600 text-black hover:text-white active:text-white px-4 py-2 rounded-lg font-medium transition-all duration-200 transform hover:scale-105 active:scale-95 shadow-lg hover:shadow-xl cursor-pointer;
    }

    .btn-secondary {
        @apply bg-yellow-600 hover:bg-yellow-700 active:bg-yellow-800 text-black hover:text-white active:text-white px-4 py-2 rounded-lg font-medium transition-all duration-200 transform hover:scale-105 active:scale-95 shadow-lg hover:shadow-xl cursor-pointer;
    }

    .btn-danger {
        @apply bg-red-600 hover:bg-red-700 active:bg-red-800 text-black hover:text-white active:text-white px-4 py-2 rounded-lg font-medium transition-all duration-200 transform hover:scale-105 active:scale-95 shadow-lg hover:shadow-xl cursor-pointer;
    }

    .input {
        @apply bg-black border border-gray-700 text-gray-100 cursor-pointer px-3 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-transparent transition-all duration-200;
    }

    .card {
        @apply bg-gray-900 border border-gray-800 rounded-xl p-6 shadow-lg hover:shadow-xl transition-all duration-300;
    }

    .table {
        @apply w-full text-center rounded-xl;
    }

    .table th {
        @apply bg-yellow-800 px-4 py-3 text-center font-semibold;
    }

    .table td {
        @apply border border-gray-600 px-4 py-3 text-center;
    }

    .link {
        @apply text-teal-400 hover:text-yellow-500 transition-colors duration-400;
    }
}